@media screen and (min-width: 420px) and (max-width: 610px)
	#footer
		height 25%

	.challengers-container
		padding-left 10%

	.duel-comment
		margin-left 3%

	.duel-image-challenge
		margin 10px 25%

	.navbar-brand
		width 270px
	
	.footer-content
		color white
		display inline-block
		font-size 14px
		text-align center
	
	.footer-support
		margin 5% 0 0 2%
		float left

@media screen and (min-width: 620px) and (max-width: 980px)
	.challengers-container
		padding-left 20%

	.duel-comment
		margin-left 1%

	.duel-image-challenge
		margin 10px 25%

	.navbar-brand
		width 270px
	
	.footer-support
		margin-left 5em
		float right