@import 'nib'
@import 'nib/gradients'
/* ======= IconMoon fonts ======== */
@font-face
	font-family 'pajarito'
	src url('../fonts/pajarito.eot?45uxuz')
	src url('../fonts/pajarito.eot?#iefix45uxuz') format('embedded-opentype'),
		url('../fonts/pajarito.woff?45uxuz') format('woff'),
		url('../fonts/pajarito.ttf?45uxuz') format('truetype'),
		url('../fonts/pajarito.svg?45uxuz#pajarito') format('svg')
	font-weight normal
	font-style normal

[class^="icon-"], [class*=" icon-"]
	font-family 'pajarito'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	font-size 1em
	text-transform none
	line-height 1

	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-twitter
	padding 5px
	&:hover
		color #fa6900
		background white
	&:before
		content "\e600"
/* ============================== */

html
	position relative
	min-height 100%

span
	color white
	font 2em 'Helvetica'

body 
	margin-bottom 200px
a
	color white

a:hover
	color white

#comment
	margin-bottom 30px

#footer
	background linear-gradient(bottom, #fa6900, 90% #fa6900, 10% #BF4D28)
	color white 
	bottom 0
	height 15%
	position absolute
	width 100%

#upload-image
	// border 1px solid gray
	height 165px
	width 165px
	margin-bottom 2em
	&:hover
		border 1px solid gray
		cursor pointer
		opacity 0.8
		
.btn-duel
	font 2em 'Myriad Pro'
	margin 15px 20px 0 0

.btn-duel-participate
	font-size 2em
	height 60px
	width 150px

.challenger
	margin-bottom 5%
	width 310px

.challengers-container
	padding-left 20%
	
.challenger-description span
	color #1c82ba
	font-family 'Arial Rounded MT Bold' serif
	font-size 1.5em
	word-wrap break-word

.challenging-name1
	color #1c82ba
	font-family 'Arial Rounded MT Bold' serif

.challenging-name2
	color #1c82ba
	font-family 'Arial Rounded MT Bold' serif
	float right

.challenging-title
	color #1c82ba
	font-size 1.5em
	font-family 'Arial Rounded MT Bold' bold
	margin-top 10px

.challenging-picture
	border 5px solid white
	border-radius 50%
	background-size 300px 300px
	height 150px
	transition transform 0.3s ease
	transform scale(0.8)
	width 150px

	&:hover
		transform scale(1)

.challenging-picture-duel
	border-radius 50%
	background-size 300px 300px
	height 240px
	transition transform 0.3s ease
	transform scale(0.8)
	width 240px

	&:hover
		cursor pointer
  
.challenging-stats
	margin-bottom 1em
	padding 10px

.challenging-stats-duel
	display inline-block
	font-size 3em
	width 455px

.challenging-score-win
	color #2ecc71
	font-size 5em
	font-family 'Arial Rounded MT Bold' bold

.challenging-score-loose
	color #ef5656
	font-family 'Arial Rounded MT Bold' bold
	font-size 5em
	float right
	margin-right 5%

.challenging-score-loose2
	color #ef5656
	font-family 'Arial Rounded MT Bold' bold
	font-size 5em
	
.challenging-score-separator
	color #b7b6b6
	font-size 5em
	font-family 'Arial'
	margin 0 10%

.duel
	box-shadow #353434 3px 3px 2px
	margin 25px auto 10px 40px
	width 400px

.duel-comment
	height 120px
	margin-left 25%
	width auto
	img
		border-radius 50%
		background-size 100px 100px
		float left
		height 90px
		transform scale(0.8)
		width 90px

.duel-user-comment
	float left
	margin 1% 0 0 2%
	width 60%
	word-wrap break-word

.duel-detail
	text-align center

.duels-row-top
	background #6eceb4
	height 13em
	padding-top 1em

.duels-row-bottom
	display inline-block
	float left
	padding-top 1em

.duel-image
	height 60px
	width 60px

.duel-image-challenge
	margin-top 15%
	padding-left 0

.dropdown-menu
	font-size 20px

.footer-content
	color white
	display inline-block
	font-size 16px
	padding-top 30px

.footer-copyright
	float left

.footer-support
	margin-left 2em
	float right

.main-nav
	background-color #fa6900 !important
	height 90px

.navbar-nav>.open>a:focus
	background-color transparent !important

.navbar-brand
	background-color black
	border-top-right-radius 100px
	height 89px
	width 270px
	&:hover
		background-color black !important

.profile-dropdown
	background-color transparent !important	
	margin -10px 20px

.profile-image
	border 2px solid white
	border-radius 500px
	height 80px
	width 80px
	overflow hidden

.social-section
	display inline-block
	width 360px
	margin-bottom 10px

.social-shares
	float left
	margin-top 1em

.social-button
	display inline-block
	float right

.top-image
	text-align center
	img
		height 10%
		width 60%


@import app-responsive






	  