{% load staticfiles %}
  {% if usersList %}
    {% for u in usersList %}
      <div class="row users-list">
        <div style="text-align:center;" class="col-xs-3">
          <img class="users-img" src="http://graph.facebook.com/{{u.social_auth__uid}}/picture?type=large" alt="">
        </div>
        <div class="col-md-5 usersearch-data">
          <h3>{{u.first_name}}</h3>
          <div class="form-group">
            <button class="btn btn-primary select-opponent" data-oppuser="{{u.id}}">Seleccionar</button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row no-results">
      <h1 style="font-family: 'Lilita one', cursive;">Lo sentimos :( no hay resultados</h1>
      <h2 style="font-family: 'Helvetica', serif;">¡Deberías invitar a tus amigos!</h2>
      <form action="" role="form" class="form-inline">
        <div class="form-group">
          <input style="width:220px;" type="text" class="form-control" placeholder="Correo electronico">
        </div>
        <button type="submit" class="btn btn-danger">Enviar invitacion</button>
      </form>      
    </div> 
  {% endif %}

