@media screen and (max-width: 320px)
	#login-button
		font 12px Arial, Helvetica, sans-serif

	#login-footer
		height 25%

	#login-logo
		margin-left 5%

	.btn-duel
		margin-left 5%

	.dropdown-menu
		font-size 18px
		a
			color white !important
	
	.navbar-brand
		img
			height 60px
			width 190px

	.profile-image
		margin 5%

	.usersearch-data
		float right


@media screen and (min-width: 420px) and (max-width: 610px)
	#footer
		height 25%
	
	#login-footer
		height 25%

	#login-logo
		margin-left 5%

	.btn-duel
		margin-left 5%

	.challengers-container
		padding-left 10%

	.duel-comment
		margin-left 3%

	.duel-image-challenge
		margin 10px 25%

	.dropdown-menu
		font-size 18px
		a
			color white !important
			&:hover
				background gray !important
	
	.footer-content
		color white
		display inline-block
		font-size 14px
		text-align center
	
	.footer-support
		margin 5% 0 0 2%
		float left

	.profile-image
		margin 3% 3% 0 3%

	.usersearch-data
		margin-left 30%	


@media screen and (min-width: 620px) and (max-width: 980px)
	.challengers-container
		padding-left 20%

	.duel-comment
		margin-left 1%

	.duel-image-challenge
		margin 10px 25%
	
	.footer-support
		margin-left 5em
		float right