  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Duelos - Guerra de Votos</title>
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/app.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-static-top main-nav" role="navigation">
       <a class="navbar-brand" href="#"><img src="img/guerradevotoslogo.png" alt="Guerra de Votos"></a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="submit" class="btn btn-primary btn-lg btn-duel">Duelos</button></li>
            <li><button type="submit" class="btn btn-primary btn-lg btn-duel">Crear Duelo!</button></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle profile-dropdown" data-toggle="dropdown"><img class="profile-image" src="img/avatar.jpg" alt="Ramon">
              <span>ramon</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Editar Perfil</a></li>
                <li><a href="#">Mis Duelos</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar Sesion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
  </nav>
  <div class="container">
    <div class="row challengers-container">
      <div class="col-md-6 challenger">
        <div class="col-md-12">
          <div style="text-align:center;" class="row">
            <div class="col-md-12">
              <span class="challenging-name1">Naruto</span>
            </div>
              <div class="col-md-12">
                <img class="challenging-picture-duel" src="img/naruto2.png" alt="">
              </div>
             <div class="col-md-12">
              <span class="challenging-score-win">135</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="challenger-description">
              <span>Le gusta comer rammen</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1 duel-image-challenge">
        <img class="duel-image" src="img/vs.png" alt="Ramon">
      </div>
       <div class="col-md-6 challenger">
        <div class="col-md-12">
          <div style="text-align:center;" class="row">
            <div class="col-md-12">
              <span class="challenging-name1">Nuegado</span>
            </div>
              <div class="col-md-12">
                <img class="challenging-picture-duel" src="img/sanchez.jpg" alt="">
              </div>
             <div class="col-md-12">
              <span class="challenging-score-loose2">98</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="challenger-description">
              <span>no hace nada</span>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <form id="comment" role="form">
                <div class="form-group">
                  <textarea class="form-control" id="duel-comment" rows="3" placeholder="Escribe tu comentario"></textarea>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary">Comentar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="duel-comment">
              <figure>
                <img src="img/profileimage01.png" alt="">
              </figure>
              <div class="duel-user-comment">
                <h4>juan perez</h4>
                <p>me parece injusto este duelo! asdadasdadadasd asdadsadasdsdadadasdads asdasdasdasdadas asdasdasdadsadas</p>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="duel-comment">
              <figure>
                <img src="img/profileimage01.png" alt="">
              </figure>
              <div class="duel-user-comment">
                <h4>juan perez</h4>
                <p>me parece injusto este duelo! asdadasdadadasd asdadsadasdsdadadasdads asdasdasdasdadas asdasdasdadsadas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
      <div class="container footer-content">
        <div class="footer-copyright">
          <p>&copy 2014 Ramon Zuniga - <a target="_blank" href="https://twitter.com/djmohnz"><span class="icon-twitter"> djmohnz</span></a></p>
        </div>
        <div class="footer-support">
          <p><a href="">Ayuda</a> - <a href="">Enviar comentarios</a></p>
        </div>
      </div>
  </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/app.js"></script>
  </html>
