{% extends 'base.html' %}
  {% block title %}¡Bienvenido a Guerra de Votos! {% endblock %}
    {% block nav %}
    <nav class="navbar navbar-default navbar-static-top main-nav" role="navigation">
       <a class="navbar-brand" href="#"><img src="img/guerradevotoslogo.png" alt="Guerra de Votos"></a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="submit" class="btn btn-primary btn-lg btn-duel">Duelos</button></li>
            <li><button type="submit" class="btn btn-primary btn-lg btn-duel">Crear Duelo!</button></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle profile-dropdown" data-toggle="dropdown"><img class="profile-image" src="img/avatar.jpg" alt="Ramon">
              <span>ramon</span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Editar Perfil</a></li>
                <li><a href="#">Mis Duelos</a></li>
                <li class="divider"></li>
                <li><a href="#">Cerrar Sesion</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /.navbar-collapse -->
    </nav>
    {% endblock %}
    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="top-image">
          <img src="img/duelo-dia.png" alt="Duelos del Dia">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 duel">
          <div class="row duels-row-top">
            <div class="col-md-12">
                <img class="challenging-picture" src="img/naruto2.png" alt="">
                <img class="duel-image" src="img/vs.png" alt="Ramon">
                <img class="challenging-picture" src="img/sanchez.jpg" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="challenging-title">Marcador</p>
              <div class="challenging-stats">
                <span class="challenging-score-win">135</span>
                <span class="challenging-score-separator">|</span>
                <span class="challenging-score-loose">95</span>
              </div>
              <div class="social-section">
                <div class="social-shares">Social share buttons</div>
                <button type="submit" class="btn btn-primary btn-lg social-button">Participar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
