{% extends 'base.html' %}
  {% block title %}Guerra de Votos{% endblock %}
    {% block content %}
    {% load staticfiles %}
    <div class="container-fluid">
      <div class="row">
        <div class="top-image">
          <img src="{% static "img/duelo-dia.png" %}" alt="Duelos del Dia">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 duel">
          <div class="row duels-row-top">
            <div class="col-md-12">
                <img class="challenging-picture" src="img/naruto2.png" alt="">
                <img class="duel-image" src="{% static "img/vs.png" %}" alt="Duelo Guerra de Votos">
                <img class="challenging-picture" src="img/sanchez.jpg" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="challenging-title">Marcador</p>
              <div class="challenging-stats">
                <span class="challenging-score-win">135</span>
                <span class="challenging-score-separator">|</span>
                <span class="challenging-score-loose">95</span>
              </div>
              <div class="social-section">
                <div class="social-shares">Social share buttons</div>
                <button type="submit" class="btn btn-primary btn-lg social-button">Participar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
